replicaCount: 2
image:
  repository: rcs
  pullPolicy: IfNotPresent
podAnnotations: {}
podLabels: {}
podSecurityContext:
securityContext: {}

resources: {}
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}

idmEndpoints:
  wss: "wss://openam-demo.forgeblocks.com/openicf"
  token: "https://openam-demo.forgeblocks.com/am/oauth2/realms/root/realms/alpha/access_token"
egressTargetRanges: ["34.8.247.114/32"]
logLevels:
  root: "DEBUG"
  classes:
    org.forgerock.openicf.misc: "INFO"
    org.forgerock.openicf.connectors: "INFO"
    org.identityconnectors: "INFO"
    org.forgerock.openicf.framework: "INFO"
    org.identityconnectors.framework.impl.api.LoggingProxy: "INFO"
    org.identityconnectors.framework.api.operations: "INFO"
    org.forgerock.openicf.common: "INFO"
    org.forgerock.openicf.contract: "INFO"
    org.forgerock.openicf.test: "INFO"
    org.identityconnectors.common: "INFO"
    org.forgerock.openicf.framework.client: "INFO"
    org.forgerock.openicf.framework.async.impl.AbstractLocalOperationProcessor: "INFO"
    org.identityconnectors.framework: "INFO"
    org.identityconnectors.contract: "INFO"
    org.identityconnectors.test: "INFO"
trustedCerts:
  ds: |
    -----BEGIN CERTIFICATE-----
    MIIBfDCCASOgAwIBAgIKI/twA/VoZJ7rrjAKBggqhkjOPQQDAjAxMRYwFAYDVQQK
    Ew1Gb3JnZVJvY2suY29tMRcwFQYDVQQDEw5EZXBsb3ltZW50IGtleTAeFw0yNTAy
    MDcxMTIxNDRaFw0zNTAyMDUxMTIxNDRaMDExFjAUBgNVBAoTDUZvcmdlUm9jay5j
    b20xFzAVBgNVBAMTDkRlcGxveW1lbnQga2V5MFkwEwYHKoZIzj0CAQYIKoZIzj0D
    AQcDQgAEUxlevuUKQKq8I30/QMxIRnizsTsL2xt9VoQScIUtt92cuHxfWieqZHWx
    qcz6921qPwlHYFhApoS4nuG0IawtYKMjMCEwDgYDVR0PAQH/BAQDAgEGMA8GA1Ud
    EwEB/wQFMAMBAf8wCgYIKoZIzj0EAwIDRwAwRAIgcQ+yxa7kfTIRPxOOUf/a6j8F
    fQ+jYP+xrrqtQisxdb4CIBQIfyhFLuBSLZBxjGgRgPyBhA00xWhhm52qei5LIdOQ
    -----END CERTIFICATE-----
credentials:
  clientId: UkNTQ2xpZW50
  clientSecret: ZWZiYTNhZTEtZTIwOC00NzRhLTljNDMtYmQ3NjRkZDQ3MDk1
